
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.venv/
env/
/.venv
# Django
staticfiles/
media/
db.sqlite3

# Environment
.env
.env.*
*.key
*.pem
*.pub

# OS / editor
.DS_Store
.idea/
.vscode/

# Docker
*.log
