name: Deploy Niun Docker

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /opt/vault_backend
          
          git config --global --add safe.directory /opt/vault_backend
          git pull origin main
          
          docker compose up --build -d
          
          docker compose exec -T web python manage.py migrate
          
          docker compose exec -T web python manage.py collectstatic --noinput